@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    /* padding: 55px 180px 30px 180px; */
    font-family: 'Roboto', sans-serif;
}

.general {
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.call-logo-soc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #EBEBEB;;
}

.help {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.phone-ic {
    width: 15%;
    text-align: right;
}

.help p {
    white-space: nowrap;
    width: 82%;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}


.logo a {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-decoration: none;
    color: #000000;
    transition: .2s;
}
.logo a:hover{
    color: #ccbaba;
}



.soc-coun{
    display: flex;
    width: 23%;
    align-items: center;
    justify-content: space-evenly;
}


.social {
    display: flex;
    align-items: center;
    width: 45%;
    justify-content: space-around;
}
.linkin a svg{
    fill: black;
    transition: .2s;
}
.linkin a svg:hover{
    fill: #ccbaba;
}
.insta a svg{
    fill: black;
    transition: .2s;
}
.insta a svg:hover{
    fill: #ccbaba;
}
.twit a svg{
    fill: black;
    transition: .2s;
}
.twit a svg:hover{
    fill: #ccbaba;
}

.lang {
    display: flex;
    justify-content: space-around;
    width: 30%;
    align-items: center;
}

.lang p {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.lang span {
    opacity: 0.5;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    padding: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.nav ul li a{
    text-decoration: none;
    color: #000000;
    position: relative;
}
.nav ul li a::after{
    content: '';
    height: 2px;
    width: 0;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: .5s;
}
.nav ul li a:hover::after{
    width:100%;
}

#pro {
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
}

/* main {
    display: flex;
    align-items: center;
    width: 100%;
} */

/* The main styling */

.main {
    /* margin: 40px 0 60px; */
    padding: 55px 180px 30px 180px;
    position: relative;
    background:  #F1F1F1;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.background {
    background: url("./images/Background.png");
    width: 100%;
    height: 100%;
    position: absolute;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    top: 0px;
    right: 0px;
    opacity: 0.5;
    rotate: 180deg;
    z-index: 1;
}

.top h2 {
    font-size: 48px;
    padding-bottom: 15px;
}

.top-beneath,.top-beneath a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-cont {
    font-size: 22px;
    padding: 30px 0;
}

.top-cont-underlined {
    color: #000000;
    position: relative;
    z-index: 2;
    height: 5px;
    width: 100%;
}

.top-cont-underlined::before {
    content: 'for food, quality, automation and software.';
    height: 5px;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0px;
    z-index: 1;
}

.top-cont-underlined::after {
    background: #FCD900;
    content: ' ';
    height: 5px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom:8px;
}

.cont-1 {
    font-size: 16px;
    text-align: justify;
}

.cont-1 p {
    padding-bottom: 16px;
    line-height: 25px;
}

.values-wrapper, .partners-wrapper {
    margin-top: 45px;
}

.values-wrapper h4, .partners-wrapper h4 {
    font-size: 16px;
    opacity: 0.3;
}

.values {
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
    gap: 50px;
}

.values-cont {
    flex: 1;
}

.aside {
    flex: 1;
}

.values-cont-head, .partners-cont-bold {
    font-size: 38px;
    line-height: 50px;
    padding-bottom: 15px;
}

.values-cont-head-underlined {
    position: relative;
    width: 100%;
    height: 6px;
    /* z-index: 2; */
    left: 0;
    bottom: 0;
}

.values-cont-head-underlined::before {
    content: 'basic principle.';
    position: relative;
    width: 100%;
    height: 6px;
    z-index: 1;
}

.values-cont-head-underlined::after {
    content: ' ';
    background: #FCD900;
    position: absolute;
    width: 100%;
    height: 6px;
    left: 0;
    bottom: 8px;
}

.values-cont-p, .values-cont-link, .partners-cont-light {
    color: #000000;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 15px;
}

.aside {
    display: flex;
    gap: 10px;
}

.aside-1, .aside-2 {
    width: 100%;
}

.aside .aside-head {
    font-size: 20px;
    padding: 5px 0;
}

.aside-body {
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 30px;
}

.aside img {
    width: 200px;
}

.link {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.partners-cont {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.partners-cont-bold {
    flex: 1;
}

.partners-cont-bold-underlined {
    position: relative;
    width: 100%;
    height: 6px;
    z-index: 2;
    left: 0;
    bottom: 0;
}

.partners-cont-bold-underlined::before {
    content: 'happy customers';
    position: relative;
    width: 100%;
    height: 6px;
    z-index: 1;
}

.partners-cont-bold-underlined::after {
    content: ' ';
    background: #FCD900;
    position: absolute;
    width: 100%;
    height: 6px;
    left: 0;
    bottom: 8px;
}

.partners-cont-light {
    flex: 1;
}

.partners-cont-light-bottom {
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
}

.partners-img {
    display: grid;
    /* grid-template-columns: repeat(12, 1fr); */
    grid-template-areas: 
    "a b c d e f g h i j k l"
    "m m n o p q r s t u v v";
    row-gap: 10px;
}

.partners-img img {
    width: 70px;
}

div > img:first-child {
    grid-area: a;
}

div > img:nth-of-type(2) {
    grid-area: b;
}

div > img:nth-of-type(3) {
    grid-area: c;
}

div > img:nth-of-type(13) {
    grid-area: m;
}

div > img:last-child {
    grid-area: v;
}

.img-partner {
    position: relative;
    left: -34px;
    top: 10px;
    width: 100%;
}

.img-partner::before {
    content: 'Become Partner';
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    left: -34px;
    top: 10px;
    width: 100%;
    /* line-height: 30px; */
}

footer{
    background: #FDFDFD;
    width: 100%;
    height: 100%;
    padding: 55px 180px 30px 180px;
    position: relative;
    background: linear-gradient(32deg, #F1F1F1 15%, #FDFDFD 50%);
}
.overlay{
    background: url("./images/Background-footer.png");
    width: 100%;
    height: 100%;
    position: absolute;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    top: 0px;
    right: 0px;  
}
.ques{
    display: flex;
    justify-content: space-between;
}
.ques h2{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    width: 55%;
}

.ques-underlined {
    position: relative;
    width: 100%;
    height: 5px;
    z-index: 2;
    left: 0;
    bottom: 0;
}

.ques-underlined::before {
    content: 'any questions?';
    position: relative;
    width: 100%;
    height: 5px;
    z-index: 1;
}

.ques-underlined::after {
    content: ' ';
    background: #FCD900;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 8px;
}

.cont{
    display: flex;
    width: auto;
}
.phonee{
    text-decoration: none;
    color: #000000;
    display: flex;
    margin-right: 5px;
    z-index: 9;
}
.phonee:hover{
    color: #807e7e;
}
.phonee-1{
    width: 100%;
    z-index: 9;
    display: flex;
    text-decoration: none;
    color: #000000;
}
.phonee-1 a{
    text-decoration: none;
    color: #000000;
}
.phonee-1 a:hover{
    color: #807e7e;
}
.phonee svg{
    height: 32px;
    width: 32px;
    margin-right: 5px;
}
.dets{
    display: block;
}
.map{
    height: 32px;
    width: 32px;  
}
.calll{
    height: 32px;
    width: 32px;  
}
.dets h4{
    font-weight: 400;
    font-size: 12px;
}
.detss h4{
    font-weight: 400;
    font-size: 12px;
}
.dets h3{
    font-weight: 400;
    font-size: 14px; 
    width: 130px;
}
.detss h3{
    font-weight: 400;
    font-size: 14px; 
    width: 100%;
}
.laz{
    font-weight: 400;
    font-size: 14px; 
    width: 200px;
}
.last a{
    color: #000000;
    font-weight: 400;
    font-size: 11px; 
    text-decoration: underline;
}
.dfg{
    display: block;
    width: 200px;
}
.pro-sol{
    display: grid;
    grid-template-columns:1.5fr 2fr 1.2fr 3fr ;
    /* border: 2px solid yellowgreen; */
    height: 300px;
    margin-top: 72px;
}
.grid-foot{
    z-index: 10;
}
.grid-foot h3{
    color: #000000;
    font-weight: 500;
    font-size: 21px;  
    margin-bottom: 20px;
}
.grid-foot ul li {
    list-style: none;
    margin-bottom: 15px;
}
.grid-foot ul li a{
    color: #000000;
    font-weight: 400;
    font-size: 12px;  
    text-decoration: none;
}
.grid-foot ul li a:hover{
    color: #807e7e;
}
.pro{
    height: 100%;
}
.sol{
    height: 100%;
}
.cor{
    height: 100%;
}
.car{
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left:42px;
}
.car svg{
    height: 40px;
    width: 40px;
}
.car h3{
    color: #000000;
    font-weight: 500;
    font-size: 21px;  
    margin-bottom: 20px;
}
.car p{
    color: #000000;
    font-weight: 400;
    font-size: 12px;  
    margin-bottom: 35px;
}
.car p span{
  text-decoration: underline;
}
.car button{
    color: #000000;
    font-weight: 500;
    font-size: 14px;  
    z-index: 15;
    cursor: pointer;
    height: 35px;
    width: 140px;
    background: #FCD900;
    border: none;
}
.car button:hover{
    background: #cfb405;
}
.car button svg{
    height: 8px;
    width: 10px;
}
.opp{
    width: 260px;
    padding-left: 0px;
}
.copy{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F1F1F1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 10px 180px 10px 180px;
}
.copy h5, h6{
    color: #000000;
    font-weight: 400;
    font-size: 12px;     
}
